In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("rowery/wynik.csv", sep=',' )
df

,id,name,latitude,longitude,free_bikes,empty_slots,datetime,hour
0,005de3bbdc044ed97ea20d32ea6401be,al. Niepodległości - Batorego,52.210833,21.007851,21,0,2025-10-19 23:57:33.672212,23
1,013e8c1f7b4782baa326a337d2b00394,Marymoncka - Dewajtis,52.290173,20.950370,13,0,2025-10-19 23:57:33.667969,23
2,029c42156011a06c59bc24773c914cba,Metro Centrum Nauki Kopernik,52.239358,21.031136,27,0,2025-10-19 23:57:33.697936,23
3,02c9feac733886f5bdef0fe682da4b32,Darwina - Nusbauma-Hilarowicza,52.264210,21.026180,11,0,2025-10-19 23:57:33.696712,23
4,037fadcd3c17b99a1cbc687d1d04274d,al. Jerozolimskie - Lindleya,52.226220,20.996172,10,0,2025-10-19 23:57:33.670933,23
...,...,...,...,...,...,...,...,...
495355,fda32f025901aa9743b1596d43969ab3,al. Jerozolimskie - Krucza,52.231056,21.016738,1,7,2025-10-20 23:57:39.393682,23
495356,feb31a4e8466caf11d6a16addc0b11e1,Rembielińska - Wyszogrodzka,52.288592,21.031009,23,0,2025-10-20 23:57:39.396460,23
495357,ff8fbef897530b901229c204eb46b8a1,Plac Grzybowski,52.235858,21.003731,4,8,2025-10-20 23:57:39.345487,23
495358,ff90e71b117a22c29d636bdfff8b1bbe,Sosnkowskiego - OSiR Ursus,52.186994,20.890648,12,0,2025-10-20 23:57:39.395220,23
495359,fffeecd35a623278f18627b396a6fde9,Pętla Podskarbińska,52.254189,21.073601,15,0,2025-10-20 23:57:39.344900,23

In [7]:
# wybierz kolumny name, free_bikes, empty_slots dla wierszy gdzie hour > 12 i hour <= 14

df[
  (df['hour'] > 12) & (df['hour'] <= 14)
][
    ['name', 'empty_slots', 'free_bikes']
]

                                  name  empty_slots  free_bikes
268664   al. Niepodległości - Batorego            4          11
268665           Marymoncka - Dewajtis            1           9
268666    Metro Centrum Nauki Kopernik            0          28
268667  Darwina - Nusbauma-Hilarowicza            4           6
268668    al. Jerozolimskie - Lindleya            0          10
...                                ...          ...         ...
309939      al. Jerozolimskie - Krucza            6           2
309940     Rembielińska - Wyszogrodzka            3          18
309941                 Plac Grzybowski            6           6
309942      Sosnkowskiego - OSiR Ursus            0           9
309943             Pętla Podskarbińska            3           2

[41280 rows x 3 columns]

In [10]:
df.where( (df['hour'] == 23) & (df['name']=='Pętla Podskarbińska') )

,id,name,latitude,longitude,free_bikes,empty_slots,datetime,hour
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
495355,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
495356,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
495357,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
495358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
495359,fffeecd35a623278f18627b396a6fde9,Pętla Podskarbińska,52.254189,21.073601,15.0,0.0,2025-10-20 23:57:39.344900,23.0

In [11]:
df.query("hour == 23 and free_bikes > 10")

,id,name,latitude,longitude,free_bikes,empty_slots,datetime,hour
0,005de3bbdc044ed97ea20d32ea6401be,al. Niepodległości - Batorego,52.210833,21.007851,21,0,2025-10-19 23:57:33.672212,23
1,013e8c1f7b4782baa326a337d2b00394,Marymoncka - Dewajtis,52.290173,20.950370,13,0,2025-10-19 23:57:33.667969,23
2,029c42156011a06c59bc24773c914cba,Metro Centrum Nauki Kopernik,52.239358,21.031136,27,0,2025-10-19 23:57:33.697936,23
3,02c9feac733886f5bdef0fe682da4b32,Darwina - Nusbauma-Hilarowicza,52.264210,21.026180,11,0,2025-10-19 23:57:33.696712,23
5,05eded1e34c135651fc9c48505c5f01b,Brukselska - PROM,52.225850,21.060062,13,0,2025-10-19 23:57:33.697471,23
...,...,...,...,...,...,...,...,...
495353,fd6f4cfe92505a63f00f233f090766d8,Wysockiego - Poborzańska,52.287807,21.021383,30,0,2025-10-20 23:57:39.396246,23
495354,fd9388a2cf757555a3b4a0f16bf07c0e,Wybrzeże Szczecińskie - Stadion Narodowy,52.237208,21.043758,12,5,2025-10-20 23:57:39.397866,23
495356,feb31a4e8466caf11d6a16addc0b11e1,Rembielińska - Wyszogrodzka,52.288592,21.031009,23,0,2025-10-20 23:57:39.396460,23
495358,ff90e71b117a22c29d636bdfff8b1bbe,Sosnkowskiego - OSiR Ursus,52.186994,20.890648,12,0,2025-10-20 23:57:39.395220,23
495359,fffeecd35a623278f18627b396a6fde9,Pętla Podskarbińska,52.254189,21.073601,15,0,2025-10-20 23:57:39.344900,23

In [20]:
df[
    
    (df['name'].str.lower().str.contains('marszał'))
    & (df['hour'] == 12)
    
    ]

,id,name,latitude,longitude,free_bikes,empty_slots,datetime,hour
248055,16fcc6f4399c540070064b9465943f74,Marszałkowska - Królewska,52.238549,21.006889,1,9,2025-10-20 12:00:38.342854,12
248088,29f23d1d048ba4a2c2be09a1911e97d8,Marszałkowska - Hoża,52.226288,21.013571,10,0,2025-10-20 12:00:38.474834,12
248094,2dc44d0c649a7b2be8a18866ac754645,Marszałkowska - Al. Jerozolimskie,52.229286,21.011579,6,6,2025-10-20 12:00:38.474759,12
248149,623240d65bdea78c38a81eb3b69de459,Marszałkowska - Litewska,52.216910,21.019970,8,0,2025-10-20 12:00:38.475977,12
248399,16fcc6f4399c540070064b9465943f74,Marszałkowska - Królewska,52.238549,21.006889,1,9,2025-10-20 12:00:38.342854,12
...,...,...,...,...,...,...,...,...
268101,623240d65bdea78c38a81eb3b69de459,Marszałkowska - Litewska,52.216910,21.019970,8,0,2025-10-20 12:57:36.909238,12
268351,16fcc6f4399c540070064b9465943f74,Marszałkowska - Królewska,52.238549,21.006889,6,4,2025-10-20 12:57:36.908148,12
268384,29f23d1d048ba4a2c2be09a1911e97d8,Marszałkowska - Hoża,52.226288,21.013571,15,0,2025-10-20 12:57:36.908642,12
268390,2dc44d0c649a7b2be8a18866ac754645,Marszałkowska - Al. Jerozolimskie,52.229286,21.011579,5,7,2025-10-20 12:57:36.908616,12
268445,623240d65bdea78c38a81eb3b69de459,Marszałkowska - Litewska,52.216910,21.019970,8,0,2025-10-20 12:57:36.909238,12

In [21]:
df2 = pd.read_excel('dane.xlsx')
df2

     imie  wiek     zespol       jezyk
0  Michał    32     Północ      Python
1   Iryna    36     Wschód        Java
2   Jakub    34     Zachód      Pascal
3  Tomasz    35   Południe       Basic
4   Józek    45    Szaraki           R
5   Maria    23  Stokrotki  JavaScript

In [23]:
df2[ df2['zespol'].isin( ['Północ', 'Zachód']  ) ]

     imie  wiek  zespol   jezyk
0  Michał    32  Północ  Python
2   Jakub    34  Zachód  Pascal

In [24]:
df3 = pd.DataFrame([{'imie': 'Jan', 'nazwisko': 'Kowalski', 'wiek': 50, 'zawod': 'miłosny'},
 {'imie': 'Anna', 'nazwisko': 'Nowak', 'wiek': 30},
 {'imie': 'Maria',
  'nazwisko': 'Iksińska',
  'wiek': 45,
  'stan_cywilny': 'panna'},
 {'imie': 'Zofia', 'nazwisko': 'Jakaś', 'wiek': 18}])
df3

    imie  nazwisko  wiek    zawod stan_cywilny
0    Jan  Kowalski    50  miłosny          NaN
1   Anna     Nowak    30      NaN          NaN
2  Maria  Iksińska    45      NaN        panna
3  Zofia     Jakaś    18      NaN          NaN

In [25]:
df3[ df3['stan_cywilny'].isnull() ]

    imie  nazwisko  wiek    zawod stan_cywilny
0    Jan  Kowalski    50  miłosny          NaN
1   Anna     Nowak    30      NaN          NaN
3  Zofia     Jakaś    18      NaN          NaN

In [27]:
df3[ df3['zawod'].notnull() ]

  imie  nazwisko  wiek    zawod stan_cywilny
0  Jan  Kowalski    50  miłosny          NaN

In [30]:
df.sort_values('free_bikes', ascending=False)

,id,name,latitude,longitude,free_bikes,empty_slots,datetime,hour
158116,a107ddb793497db8db7ba3ef2fd364a8,Stefana Banacha - UW,52.210772,20.984756,78,0,2025-10-20 07:36:40.361233,7
158460,a107ddb793497db8db7ba3ef2fd364a8,Stefana Banacha - UW,52.210772,20.984756,78,0,2025-10-20 07:39:43.162848,7
157772,a107ddb793497db8db7ba3ef2fd364a8,Stefana Banacha - UW,52.210772,20.984756,78,0,2025-10-20 07:36:40.361233,7
159148,a107ddb793497db8db7ba3ef2fd364a8,Stefana Banacha - UW,52.210772,20.984756,78,0,2025-10-20 07:39:43.162848,7
157428,a107ddb793497db8db7ba3ef2fd364a8,Stefana Banacha - UW,52.210772,20.984756,78,0,2025-10-20 07:36:40.361233,7
...,...,...,...,...,...,...,...,...
396409,5e7c15dcd78c0c99867d9b6e70de1c36,Signum Work Station,52.183037,20.991542,0,6,2025-10-20 19:09:34.409460,19
396513,a60bac12ba693d9c5dbfd690a93de8a7,al. Jana Pawła II - Złota,52.230194,20.999486,0,8,2025-10-20 19:09:34.212948,19
237882,85d89ba1e43191bc23bfc6444736f435,Żwirki i Wigury - Księcia Trojdena,52.205197,20.985098,0,10,2025-10-20 11:30:39.694734,11
362697,5e7c15dcd78c0c99867d9b6e70de1c36,Signum Work Station,52.183037,20.991542,0,6,2025-10-20 17:33:38.726993,17
362701,623240d65bdea78c38a81eb3b69de459,Marszałkowska - Litewska,52.216910,21.019970,0,8,2025-10-20 17:33:38.662269,17

In [33]:
df.sample(n=50).sort_values(['name', 'hour'], ascending=[True, False])

,id,name,latitude,longitude,free_bikes,empty_slots,datetime,hour
38707,86213faf7aee9deee68aacfd79f115a5,1 Sierpnia – DK Włochy,52.194609,20.967765,10,0,2025-10-20 01:51:40.757320,1
254876,ec2793a89a03e214e4228e9083bbd8aa,Andersa - Muranowska,52.254160,20.998085,14,0,2025-10-20 12:18:39.508240,12
209250,47916561021f038309a2ff07ae5e571c,Arkadia,52.255740,20.984343,19,0,2025-10-20 10:06:38.686577,10
370072,c05c20c0e678da08d8b45e0b8fc191f9,Bora-Komorowskiego - Umińskiego,52.223495,21.101330,12,0,2025-10-20 17:54:36.522288,17
463630,ba74d1d1738c89213875333a37282337,Broniewskiego - Krasińskiego,52.264398,20.972318,7,1,2025-10-20 22:24:41.816536,22
441958,ba74d1d1738c89213875333a37282337,Broniewskiego - Krasińskiego,52.264398,20.972318,6,2,2025-10-20 21:21:44.845123,21
134694,8d62a1eb06b56ca822bf35433f237d3b,Bysławska,52.159742,21.205322,7,0,2025-10-20 06:30:41.907222,6
315210,54d3576924465dff8b76acd630900eb1,Czerniakowska - Gagarina,52.207728,21.047833,14,0,2025-10-20 15:15:40.063992,15
481425,7ee23f34107eb16fdd879d40eed6575e,Drewny - Korbońskiego,52.131222,21.098231,6,0,2025-10-20 23:18:33.801166,23
9864,a9a6d175f9140492e710a63f02566383,Dworzec Zachodni,52.217954,20.966967,3,9,2025-10-20 00:27:39.805005,0
386822,7ceab6e8efa9ca38f0784ea9c88a18ff,Emilii Plater - Świętokrzyska,52.233730,21.002811,5,7,2025-10-20 18:42:33.450395,18
160559,b5807ac7cde669faa4acf58062af6cec,Francuska - Walecznych,52.234745,21.053651,9,0,2025-10-20 07:45:39.317254,7
423400,cd6de284b773ece88533e894c27a3132,Kondratowicza - Chodecka,52.292359,21.040962,11,1,2025-10-20 20:27:33.838926,20
296433,b0fca3c3664cef01d24093ad3f6750f8,Lipowa - Dobra,52.241841,21.024114,24,0,2025-10-20 14:18:37.354662,14
471765,68eb27349652ac8eba52ded032faf320,Madalińskiego - Kazimierzowska,52.204264,21.014428,16,0,2025-10-20 22:48:32.688638,22
464846,4f94bf1152f0a29c803d1bc3e254241e,Marymoncka - Podleśna,52.281039,20.958925,10,0,2025-10-20 22:30:44.197038,22
82318,4f94bf1152f0a29c803d1bc3e254241e,Marymoncka - Podleśna,52.281039,20.958925,7,1,2025-10-20 03:57:41.549304,3
30726,583f2ee050cff111c982e6272109279b,Metro Bródno,52.293889,21.027245,11,1,2025-10-20 01:27:41.788566,1
216981,ba7299f75bd03aae54e41a68a8564b9b,Metro Plac Wilsona,52.269299,20.983460,12,0,2025-10-20 10:27:48.406483,10
13583,7d633b3803ab57344b67d98799dbcb62,Metro Stokłosy,52.156867,21.033840,16,0,2025-10-20 00:36:34.425087,0
302174,6a25325bdbbcedbfc3295f3de42b5122,Metro Szwedzka,52.263298,21.046161,11,0,2025-10-20 14:36:33.378804,14
181573,d02e28bf8ed332ed2bb609634b176cde,Metro Ulrychów,52.240163,20.931161,9,0,2025-10-20 08:45:41.984276,8
6133,d02e28bf8ed332ed2bb609634b176cde,Metro Ulrychów,52.240163,20.931161,8,0,2025-10-20 00:15:40.607640,0
157112,b067a0df4bc695a3df7e0cc35e66e9f0,Miasteczko Orange,52.208525,20.946525,11,0,2025-10-20 07:33:39.631020,7
428588,e3638e5130103d8a97cf46026f84a822,Mokotowska - Piękna,52.223815,21.020786,6,4,2025-10-20 20:42:42.173451,20
478419,b7957a6c77fcced698f2a816ed4227a6,Myśliborska - al. Kuklińskiego,52.313298,20.965532,13,0,2025-10-20 23:09:38.284352,23
426475,b7957a6c77fcced698f2a816ed4227a6,Myśliborska - al. Kuklińskiego,52.313298,20.965532,12,0,2025-10-20 20:36:41.265129,20
117533,a8f50002cd7ce9613641c7271d86e7ff,PKP Rembertów - Cyrulików,52.257579,21.157396,9,1,2025-10-20 05:39:45.855480,5
169105,9370bbac155e6f0a01882a9da68df709,Plac Grunwaldzki,52.262405,20.980255,10,2,2025-10-20 08:09:41.836996,8
482521,a9c14428b56e34a044272db25005ef25,Plac Unii Lubelskiej,52.213238,21.021057,1,9,2025-10-20 23:21:42.197357,23
253070,a9472797a08e7906b4255187f4232a84,Powstańców Śląskich - Wrocławska,52.257631,20.919310,2,6,2025-10-20 12:12:39.883907,12
431813,419ecce915cfd272e6ff242120a1c123,Powązkowska - Krasińskiego,52.259323,20.960551,10,2,2025-10-20 20:54:39.095767,20
428981,0ea4616547c55119e4da57546aa44897,Przasnyska - Rydygiera,52.258593,20.971005,6,2,2025-10-20 20:45:37.481625,20
447413,9772a728897ebe36c0418929e59e6c01,Przyczółkowa - Branickiego,52.159374,21.086449,15,0,2025-10-20 21:39:42.003532,21
354183,95cb4a7c9e78b4331587abde11ec16fa,Puławska - Dworkowa,52.205518,21.023103,8,1,2025-10-20 17:06:39.528227,17
77263,95cb4a7c9e78b4331587abde11ec16fa,Puławska - Dworkowa,52.205518,21.023103,6,4,2025-10-20 03:42:37.219325,3
417398,62c23c270b93ae19d79ac6d48bc33e51,Ratuszowa - ZOO,52.253851,21.023280,7,3,2025-10-20 20:12:35.595633,20
181284,feb31a4e8466caf11d6a16addc0b11e1,Rembielińska - Wyszogrodzka,52.288592,21.031009,12,9,2025-10-20 08:45:41.986578,8
240701,b00ae4825ee24add7b8f98b5141c1bb1,Rembrandta – Miedza,52.280625,21.049645,5,3,2025-10-20 11:36:40.255998,11
400064,fccc834cbcec6b39a51996b30173d397,Rondo Mościckiego,52.233930,21.126986,6,4,2025-10-20 19:21:42.263030,19
199856,fccc834cbcec6b39a51996b30173d397,Rondo Mościckiego,52.233930,21.126986,6,4,2025-10-20 09:39:42.375355,9
492090,7f182596c4cd53fa01c222502f3d2060,Stanów Zjednoczonych - Międzynarodowa,52.230115,21.067961,4,8,2025-10-20 23:48:32.911069,23
478674,7f182596c4cd53fa01c222502f3d2060,Stanów Zjednoczonych - Międzynarodowa,52.230115,21.067961,3,9,2025-10-20 23:09:38.285742,23
112362,9ed7b2cdfad4aca3f27b33069ba00aac,Uniwersytet - SWPS,52.247531,21.066431,12,0,2025-10-20 05:24:40.072408,5
246975,f7a19fb353ec95cab1cd958a92fa75c4,Warsaw Spire,52.232538,20.983233,21,0,2025-10-20 11:54:37.486365,11
185384,ead62a829d31b7f274630647c7872939,Wileńska - Rzeszotarskiej,52.257958,21.039980,4,4,2025-10-20 08:57:42.702164,8
247673,fd6f4cfe92505a63f00f233f090766d8,Wysockiego - Poborzańska,52.287807,21.021383,19,0,2025-10-20 11:57:38.719839,11
370939,56cb35e0fda6c1876fe3c22d2c37cd04,al. Armii Ludowej - al. Niepodległości,52.216751,21.004732,2,12,2025-10-20 17:57:41.254916,17
326532,34b314194eaa85b6eac2df7a2902e2f5,al. Jana Pawła II - Grzybowska,52.235706,20.996703,2,12,2025-10-20 15:48:35.217274,15
414666,6b9ba38895f3709feb12ac34efaa0c2d,al. Jana Pawła II - Nowolipki,52.244577,20.991770,5,3,2025-10-20 20:03:38.758575,20